body {
    background-color: rgb(22, 44, 58);
}

main {
    border-width: 5px;
    border-style: solid;
    border-color: rgb(217, 124, 80);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15vh 20% 0 20%;
    padding: 0 0 40px 0;
    color: rgb(219, 169, 136);
}

h1 {
    color: rgb(217, 124, 80);
    font-size: 50px;
    margin: 0.3em;
}

/* center and displays header items vertically */
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    padding: 0 5% 0 5%;
    align-items: center;
}

/* removes bullet points from list */
ul {
    list-style-type: none;
}

/* adds spacing between each list item */
li {
    margin: 0 0 20px 0;
}

/* adds spacing between paragraph items */
p {
    margin: 0.5em;
}

/* style dropdown menus */
select {
    background: transparent;
    color: rgb(219, 169, 136);
    border-radius: 0.5em;
}

/* styles dropdown menus for selecting area/volume and different shapes */
.selector {
    display: flex;
    flex-direction: column;
    padding: 1% 0 1% 0;
    width: min-content;
}